<!DOCTYPE html>
<html>
    {{ $js := resources.Get "js/main.js" | js.Build (dict "params" (dict "api" "123123")) }}
    <script src="{{ $js.RelPermalink }}"></script>
    {{- partial "head.html" . -}}
    <body>
        <div class="bg-center  bg-cover bg-fixed h-full top-0 -z-10 bg-sitebg">
            {{- partial "header.html" . -}}
            <div id="main">
                {{- block "main" . }}
                    <p>可被其他模版覆盖的内容</p>
                {{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>