
{{ define "leftSideBar" }}
    {{- partial "LeftSideBar/LeftSideBar" . -}}
{{ end }}

{{ define "content" }}
<div class="overflow-scroll scroll-smooth px-10">
  <article class="prose prose-zinc px-10  min-w-full">
      <h1 class="text-center pt-5">{{ title .Title }}</h1>
      {{ .Content }}
  </article>
    {{- partial "PageList.html" . -}}
</div>
<!-- 图表 Mermaid -->
{{ if .Page.Store.Get "hasMermaid" }}
{{ $mermaidjs := resources.Get "js/mermaid_help.js" | js.Build  }}
<script src="{{ $mermaidjs.RelPermalink }}">
    
</script>
{{ end }}
{{ if .Page.Store.Get "hasMarkmap" }}
    <script>
        window.markmap = {
          autoLoader: { manual: true },
        };
    </script>
  <script src="https://cdn.jsdelivr.net/npm/markmap-autoloader@latest"></script>
  <script>
    // Render in 0.3s
    setTimeout(() => {
      markmap.autoLoader.renderAll();
    }, 300);
  </script>
{{ end }}
{{ end }}



{{ define "rightSideBar" }}
    {{ partial "PageVar.html" . }}
{{ end }}