{{ define "leftSideBar" }}
{{- partial "LeftSideBar/LeftSideBar" . -}}
{{ end }}
{{ define "content" }}
<div id="article-container" class="overflow-scroll scroll-smooth max-h-full">
  <article class="prose prose-zinc px-10  min-w-full bg-white">
    <div id="nice">
      <h1>{{ title .Title }}</h1>
      {{ .Content }}
    </div>
    {{ partial "Comment.html" . }}
</article>
</div>

<!-- 图表 -->
{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ 
      startOnLoad: true,
      // 配置主题
      theme: 'base',
      // 配置日志等级
      logLevel: 'info',
      // 配置安全等级
      securityLevel: 'loose'
    });
  </script>
{{ end }}
<!-- markmap -->
{{ if .Page.Store.Get "hasMarkmap" }}
  <script>
    window.markmap = {
      autoLoader: { manual: true },
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/markmap-autoloader@latest"></script>
  <script>
    // Render in 5s
    setTimeout(() => {
      markmap.autoLoader.renderAll();
    }, 300);
  </script>
{{ end }}

{{ end }}

{{ define "rightSideBar" }}
  {{- partial "toc.html" . -}}
{{ end }}
