<header class="top-0 sticky ">
    <div class="backdrop-blur bg-black/30 h-16 border-b flex items-center">
        <div class="font-mono text-[40px] bg-gradient-to-r  from-indigo-500 via-purple-500 to-pink-500 text-transparent bg-clip-text">
            {{ .Site.Title }}
        </div>
        <div class="flex space-x-4 ">
            {{ range .Site.Menus.main }}

            {{ $js := printf "console.debug('按钮点击');window.location.href='%s%s'" site.BaseURL .URL}}
            {{ $dic := dict "title" .Name "click" $js "class" "bg-lime-300 px-3 rounded-full h-8" "style" "color:red"}}
            {{ partial "Button.html" $dic }}            
            {{ end }}
        </div>
    </div>
</header>