<!-- 页面变量 -->
<div class="max-w-[240px]">
    <p>RelPermalink: {{.RelPermalink}}</p>
    <p>所属分类: {{ .Type }}</p>
    <p>模版类型: {{ .Kind }}</p>
    <p>BundleType: {{ .BundleType }}</p>
    <p>创建日期: {{ .Date.Format "2006-01-02 15:04:05" }}</p>
    <p>最后修改日期: {{ .Lastmod.Format "2006-01-02 15:04:05" }}</p>
    <p>作者: {{ .Params.Author }}</p>
    <p>字数: {{ .WordCount }}</p>
    <p>预计阅读时长: {{ .ReadingTime }} 分钟</p>
    <p>关联的资源: {{ .Resources }}</p>
    <p>页面的别名: {{ .Aliases }}</p>
    <p>{{ .Description }}</p>
  </div>