<textarea id="source">
    {{ .RawContent }}
</textarea>

<script src="https://remarkjs.com/downloads/remark-latest.min.js">
    
</script>
<script>
    var slideshow = remark.create({
        // 显示比例
        ratio: '16:9',

        navigation: {
            scroll: false,
            touch: true,
            click: true
        },

        timer: {
            startOnChange: true,
            resetable: true,
            enabled: true
        },

        includePresenterNotes: false
    });
</script>