<section class="border-2 p-6 rounded-2xl">
    <div>
        <span class="text-3xl font-sans text-pink-600">分组名称</span>
    </div>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 sm:grid-cols-2">
        {{ $allPages := .Site.Pages}}
        {{ range .Params.sections }}
            {{ if eq .idf "new"}}
                {{ range $allPages}}
                    <div class="border-2  bg-gradient-to-t from-slate-300 via-pink-500 to-red-500 bg-opacity-50">
                        <a class="block" href="{{ .RelPermalink }}">RelPermalink: {{.RelPermalink}}</a>
                        <p>Title: {{ .Name }}</p>
                        <p>Type: {{ .Type }}</p>
                        <p>Kind: {{ .Kind }}</p>
                        <p>Date: {{ .Date }}</p>
                        <p>Author: {{ .Params.Author }}</p>
                    </div>
                {{ end}}
            {{ end }}
        {{ end }}
    </div>
</section>
    
    
