    <!-- 获取网站的所有分组 -->
    {{ $allSections := .Site.Sections }}
    <!-- 遍历分组:为每个分组创建内容 -->
    {{ range $allSections }}
        <section class="border mb-4">
            <!-- 分组的标题 -->
            <div class="mb-1 justify-between content-center flex flex-nowrap ">
                <p class="text-3xl font-sans text-pink-600" >{{.Name}}</p>
                {{ if gt .Pages.Len 5 }}
                 <a class="inline-block" href="{{ .RelPermalink }}">更多</a>
                {{ end }}
            </div>
            <div>子分组: {{ .Sections }}</div>
            <!-- 分组的内容 -->
            <div class="flex flex-row flex-nowrap space-x-3 overflow-auto snap-x pb-4 px-3">
                <!-- 获取分组下所有的页面 -->
                {{ $allPages := .Pages}}
                <!-- 遍历页面:为每个页面创建内容 -->
                {{ range first 5 $allPages}}
                    {{ partial "PageCell.html" . }}       
                {{ end}}
            </div>
        </section>
    {{ end }}