<div>网站信息</div>
<p>标题: {{ .Site.Title }}</p>
<p>BaseURL: {{ .Site.BaseURL }}</p>

<!-- <p>当前版本是否包含草稿: {{ .Site.BuildDrafts }}</p> -->
<!-- <p>网站配置: {{ .Site.Config }}</p> -->
<p>站点语言: {{ .Site.Language }}</p>
<p>版权声明: {{ .Site.Copyright }}</p>
<!-- <p>数据结构: {{ .Site.Data }}</p> -->
<p>语言前缀URL: {{ .Site.LanguagePrefix }}</p>
<!-- <p>所有语言: {{ .Site.Languages }}</p> -->
<p>最后修改日期: {{ .Site.Lastmod }}</p>
<!-- <p>{{ .Site.MainSections }}</p> -->
<!-- <p>菜单: {{ .Site.Menus }}</p> -->
<!-- <p>自定义参数: {{ .Site.Params }}</p> -->
<!-- <p>常规页面: {{ .Site.RegularPages }}</p> -->
<p>分组: {{ .Site.Sections }}</p>
<p>术语: {{ .Site.Taxonomies }}</p>
<p>所有页面: {{ .Site.AllPages }}, {{ .Site.Pages }}</p>
