
{{ $alertNoteIcon := resources.Get "images/alertInfo.svg"}}
{{ $alertTipIcon := resources.Get "images/alertTip.svg"}}
{{ $alertImportantIcon := resources.Get "images/alertImportant.svg"}}
{{ $alertWarningIcon := resources.Get "images/alertWarning.svg"}}
{{ $alertCautionIcon := resources.Get "images/alertCaution.svg"}}
{{
  $alertIcons := dict 
  "note" $alertNoteIcon
  "tip" $alertTipIcon
  "important" $alertImportantIcon
  "warning" $alertWarningIcon
  "caution" $alertCautionIcon
}}

  
  {{ if eq .Type "alert" }}
    <blockquote class="alert-{{ .AlertType }}">
      <div class="flex items-center font-semibold not-italic alert-{{ .AlertType }}-title mb-2">
        {{ $icon := index $alertIcons .AlertType  }}
        {{ $titleClass := printf "alert-%s-title" .AlertType }}
        {{replace $icon.Content "icon-color" $titleClass | safeHTML }}
        <span>{{ title .AlertType }}</span>
      </div>
      {{ .Text }}
    </blockquote>
  {{ else }}
    <blockquote>
      {{ .Text }}
    </blockquote>
  {{ end }}
  