@import "root";

#nice {
    font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
}

#nice h1 {
    text-align: center;
    padding-top: 40px;
}

/* 二级标题 */ 
#nice h2 {
    border-bottom: 2px solid var(--theme-main-color);
}
/* 二级标题内容 */
#nice h2 .content {
    display: inline-block;
    font-weight: bold;
    background: var(--theme-main-color);
    color: #ffffff;
    padding: 3px 10px 1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 3px;
}
/* 二级标题修饰 请参考有实例的主题 */
#nice h2:after {
    display: inline-block;
    content: var(--emoji-grinning);
    vertical-align: bottom;
    // border-bottom: 36px solid #efebe9;
    // border-right: 20px solid transparent;
    animation: spin 1s linear infinite;
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

#nice p {
    text-indent: 2rem;
}

#nice code {
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--theme-main-color);
    padding: 1px 4px;
}

/* 引用 */
#nice blockquote {
    border-left-color: var(--theme-main-color);
    background: var(--theme-pale-color);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}
/* 引用文字 */
#nice blockquote p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 0rem;
}

#nice pre code {
    border-width: 0px;
}

#nice table {
    border: 1px solid #dfe3ec;
    border-collapse: collapse;
    th, td {
        border: 1px solid #dfe3ec;
        text-align: center;
        vertical-align: middle;
        padding: 0px;
    }
}