@import "background";
@import "markdown_nice";

#TableOfContents ol{
    list-style-type: none;
    counter-reset: item;
}

#TableOfContents li {
    margin: 15px 0 15px 20px;
}

.active-nav-item {
}

.nav-item-hidden {
    display: none;
}

.toc-toggle::before {
    content: "▶";
    display: inline-block;
    width: 1em;
    transition: transform 0.2s ease;
}

.toc-toggle.expanded::before {
    transform: rotate(90deg);
}

.active-nav-item > a {
    background-color: bisque !important;
    border-radius: 4px;
    padding: 6px 6px;
}

.alert-note {
    border-left-color:#0969da !important;
    background:#e1edf9 !important;
}

.alert-note-title {
    color: #0969da;
    fill: #0969da;
}

.alert-tip {
    border-left-color: #1a7f37 !important;
    background: #dffae6 !important;
}

.alert-tip-title {
    color: #1a7f37;
    fill: #1a7f37;
}

.alert-important {
    border-left-color: #8250df !important;
    background: #e7ddfb !important;
}

.alert-important-title {
    color: #8250df;
    fill: #8250df;
}

.alert-warning {
    border-left-color: #f0a30a !important;
    background: #fff3cd !important;
}

.alert-warning-title {
    color: #f0a30a;
    fill: #f0a30a;
}

.alert-caution {
    border-left-color: #f00000 !important;
    background: #ffe6e6 !important;
}
.alert-caution-title {
    color: #f00000;
    fill: #f00000;
}

table {
    border: 1px solid #dfe3ec;
    border-collapse: collapse;
    th, td {
        border: 1px solid #dfe3ec;
        text-align: center;
        vertical-align: middle;
        padding: 8px;
    }
}