<div class="h-full w-full flex flex-col py-2 border-r-[1px] border-stone-200 transition-all duration-300">
    <div class="flex justify-end px-2">
        <button id="left-sidebar-toggle" class="p-2 w-10 h-10 flex items-center justify-center hover:bg-slate-300 rounded-full">
            {{ $icon := resources.Get "icon/PanelLeft24Regular.svg" }}
            <img src="{{ $icon.RelPermalink }}" class="w-6 h-6">
        </button>
    </div>
    
    <div id="left-sidebar-content" class="flex flex-col overflow-hidden transition-all duration-300">
        {{- partial "LeftSideBar/HeaderInfo" . -}}
        
        {{- partial "LeftSideBar/SectionListMenu" . -}}

        {{- partial "LeftSideBar/FooterMenu" . -}}
    </div>
</div>